@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

* {
    margin: 0px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*Cabeçalho*/
.inicio {
    background-color: #FFBE00;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
	align-items: center;
	color: white;
}


#inicio {
    background-color: rgba(248, 248, 248, 0.45);
    padding: 10px;
    font-size: 30px;
}

.opcoes {
    display: flex;
}

.opcoes li {
    margin-left: 10px;
}

.opcoes li a {
    display: block;
    padding: 10px;
    background-color: rgba(248, 248, 248, 0.45);
    color: white;
    font-size: 25px;
}

/*Frases de treinamento*/

.titulo1 {
    background-color: rgba(253, 157, 0, 1.00);
    font-family: 'Roboto Mono';
    margin: 30px 100px 20px 60px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.frasesdetreinamento {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.frasesdetreinamento {
    background-color: rgba(114, 103, 94, 0.93);
    padding: 10px 20px 10px 10px;
    margin: 0px 100px 20px 100px;
}

.frasesdetreinamento {
    font-family: 'Zen Kurenaido';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

/*pergunta*/

#GATOOUCACHORRO {
    color: transparent;
}

.titulo2 {
    background-color: rgba(253, 157, 0, 1.00);
    margin: 30px 100px 0px 60px;
    padding: 10px;
    font-family: 'Roboto Mono';
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

.pergunta {
    display: block;
    background-color: rgba(114, 103, 94, 0.93);
    max-width: 500px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: auto;
    width: 20em;
    padding: 10px;
}

.pergunta h4 {
    text-align: center;
    font-family: 'Zen Kurenaido';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.gatoOuCachorro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gatoOuCachorro {
    background-color: rgba(114, 103, 94, 0.93);
    padding: 10px;
}

#gato {
    font-size: 30px;
    color: white;
}

#cachorro {
    font-size: 30px;
    color: white;
}

/*receita*/

#RECEITA {
    color: transparent;
}

.titulo3 {
    background-color: rgba(253, 157, 0, 1.00);
    margin: 0px 100px 30px 100px;
    padding: 10px 13px;
    font-family: 'Roboto Mono';
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

/*links para o inicio*/
.linkInicio {
    background-color: rgba(253, 157, 0, 1.00);
    padding: 10px;
    margin-left: 980px;
    margin-right: 100px;
}

.linkInicio a {
    display: block;
    text-align: center;
    color: white;
    font-size: 17px;
    background-color:  rgba(248, 248, 248, 0.288);
    padding: 10px;
}