@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*Cabeçalho*/
.inicio {
    background-color: #FFBE00;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
	align-items: center;
	color: white;
}


#inicio {
    background-color: rgba(248, 248, 248, 0.45);
    padding: 10px;
    font-size: 30px;
}

.opcoes {
    display: flex;
}

.opcoes li {
    margin-left: 10px;
}

.opcoes li a {
    display: block;
    padding: 10px;
    background-color: rgba(248, 248, 248, 0.45);
    color: white;
    font-size: 25px;
}

/*Frases de treinamento*/

.titulo1 {
    background-color: rgba(253, 157, 0, 1.00);
    margin: 100px 100px 20px 100px;
    padding: 10px;
    font-family: 'Roboto Mono';
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

.frasesdetreinamento {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto;
}

.frasesdetreinamento {
    background-color: rgba(114, 103, 94, 0.93);
    padding: 10px 20px 10px 10px;
}

.frasesdetreinamento {
    font-family: 'Zen Kurenaido';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: white;
}